 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/1646084633207-26.png");
  background-position: 50% 50%;
  min-height: 942px;
}

.u-section-1 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 22px calc(((100% - 1140px) / 2) + 310px) 0 calc(((100% - 1140px) / 2) + 59px);
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 4.5rem;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 57px);
}

.u-section-1 .u-image-2 {
  width: 405px;
  height: 436px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -282px calc(((100% - 1140px) / 2) + 57px) 0 calc(((100% - 1140px) / 2) + 425px);
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 57px calc(((100% - 1140px) / 2) + 223px) 0 auto;
}

.u-section-1 .u-image-3 {
  height: 130px;
  margin-top: 165px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 777px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 169px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 57px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 282px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 23px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: calc(((100% - 720px) / 2) + 57px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 446px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-left: calc(((100% - 540px) / 2) + 57px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 57px);
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 366px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/1646084633207.png");
  background-position: 50% 100%;
  background-size: auto 155%;
  min-height: 857px;
}

.u-section-2 .u-image-1 {
  height: 130px;
  margin-top: -4px;
  margin-bottom: 0;
}

.u-section-2 .u-slider-1 {
  min-height: 411px;
  width: 763px;
  height: auto;
  margin: 97px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 135px;
  height: 135px;
  background-image: url("images/ruandavid.criador.jpg");
  background-position: 50% 50%;
  margin: 100px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 80px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 7px 80px 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-2 .u-image-3 {
  width: 135px;
  height: 135px;
  background-image: url("images/amanda.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 80px;
}

.u-section-2 .u-image-4 {
  width: 135px;
  height: 135px;
  background-image: url("images/Daniel.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-carousel-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 80px;
}

.u-section-2 .u-image-5 {
  width: 135px;
  height: 135px;
  background-image: url("images/yan.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-carousel-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 80px;
}

.u-section-2 .u-image-6 {
  width: 135px;
  height: 135px;
  background-image: url("images/luis.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-9 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-carousel-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 80px;
}

.u-section-2 .u-image-7 {
  width: 135px;
  height: 135px;
  background-image: url("images/michelly.png");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 80px;
}

.u-section-2 .u-image-8 {
  width: 135px;
  height: 135px;
  background-image: url("images/19503381-0.jpeg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-13 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-14 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 80px;
}

.u-section-2 .u-image-9 {
  width: 135px;
  height: 135px;
  background-image: url("images/kenedy.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-15 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 80px;
}

.u-section-2 .u-image-10 {
  width: 135px;
  height: 135px;
  background-image: url("images/nicole.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-17 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-18 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 80px;
}

.u-section-2 .u-image-11 {
  width: 135px;
  height: 135px;
  background-image: url("images/iara.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-19 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-20 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 80px;
}

.u-section-2 .u-image-12 {
  width: 135px;
  height: 135px;
  background-image: url("images/IMG-20220315-WA0012.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px 80px;
}

.u-section-2 .u-image-13 {
  width: 135px;
  height: 135px;
  background-image: url("images/photo-1582266255765-fa5cf1a1d501.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-23 {
  font-size: 1.25rem;
  margin: 24px 0 0;
}

.u-section-2 .u-text-24 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 80px;
}

.u-section-2 .u-image-14 {
  width: 135px;
  height: 135px;
  background-image: url("images/IMG-20220314-WA0111.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-25 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-26 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px 80px;
}

.u-section-2 .u-image-15 {
  width: 135px;
  height: 135px;
  background-image: url("images/clara.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-27 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-28 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 80px;
}

.u-section-2 .u-image-16 {
  width: 135px;
  height: 135px;
  background-image: url("images/photo-1582266255765-fa5cf1a1d501-30.jpg");
  background-position: 50% 50%;
  margin: 70px auto 0;
}

.u-section-2 .u-text-29 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 24px 0 0;
}

.u-section-2 .u-text-30 {
  font-size: 1.25rem;
  margin: 7px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  background-image: none;
}

.u-section-2 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  background-image: none;
  left: auto;
  position: absolute;
  right: 0;
}

.u-section-2 .u-image-17 {
  height: 130px;
  margin-top: 97px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 707px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 542px;
  }

  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 407px;
  }

  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 256px;
  }

  .u-section-2 .u-slider-1 {
    width: 340px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-19 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-21 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-23 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-25 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-27 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-29 {
    font-size: 1.125rem;
  }
}.u-block-8550-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-8550-3 {
  position: absolute;
  left: 0;
}

.u-block-8550-4 {
  position: absolute;
  right: 0;
}

 .u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0056.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-3-1 .u-image-1 {
  height: 130px;
  margin: 0;
}

.u-section-3-1 .u-image-2 {
  height: 130px;
  margin-top: 424px;
  margin-bottom: 0;
}

.u-section-3-1 .u-image-3 {
  height: 130px;
  position: absolute;
}

.u-section-3-1 .u-image-4 {
  height: 130px;
  position: absolute;
}

.u-section-3-1 .u-image-5 {
  height: 130px;
  position: absolute;
}

.u-section-3-1 .u-image-6 {
  height: 130px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

 .u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0059.jpg");
  background-position: 50% 50%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3-2 .u-image-1 {
  height: 130px;
  width: 1392px;
  margin: 0 -126px;
}

.u-section-3-2 .u-image-2 {
  height: 130px;
  width: 1392px;
  margin: 423px -126px 0;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-image-1 {
    height: 88px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3-2 .u-image-2 {
    height: 88px;
    width: 940px;
    margin-right: 0;
    margin-bottom: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-image-1 {
    height: 67px;
    width: 720px;
  }

  .u-section-3-2 .u-image-2 {
    height: 67px;
    width: 720px;
    margin-bottom: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-image-1 {
    height: 50px;
    width: 540px;
  }

  .u-section-3-2 .u-image-2 {
    height: 50px;
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-image-1 {
    height: 31px;
    width: 435px;
    margin-left: -48px;
    margin-right: -48px;
  }

  .u-section-3-2 .u-image-2 {
    height: 31px;
    width: 435px;
    margin-left: -48px;
    margin-right: -48px;
  }
}

 .u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0057.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-3-3 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-3 .u-image-2 {
  height: 130px;
  margin-top: 424px;
  margin-bottom: 0;
}

 .u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0058.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-3-4 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-4 .u-image-2 {
  height: 130px;
  margin-top: 424px;
  margin-bottom: 0;
}

 .u-section-3-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0060.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-3-5 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-5 .u-image-2 {
  height: 130px;
  margin-top: 424px;
  margin-bottom: 0;
}

 .u-section-3-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/IMG-20220315-WA0061.jpg");
  background-position: 50% 50%;
  min-height: 50vw;
}

.u-section-3-6 .u-image-1 {
  height: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3-6 .u-image-2 {
  height: 130px;
  margin-top: 424px;
  margin-bottom: 0;
}